* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(51, 133, 40);
}

header {
    background-color: whitesmoke;
    padding: 3px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: black;
    text-decoration: none;
    padding-left: 25px;
}

.navg {
    padding-right: 100px;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: whitesmoke;
}

section {
    text-align: center;
    padding: 100px;
    margin-bottom: 500px;
}
